:root {
  --primary-blue: #1c283a;
  --secondary-blue: #171D25;
  --dark-blue: #060314;
  --primary-below-navbar: #212B45;
  --secondary-below-navbar: #4B619B;
  --hovered-below-navbar: #435ca2;
  --primary-text: #DCDEDF;
  --hovered-text: #FFFFFF;
  --active-text: #44ace9;
  --active-hovered-text: #1e9df7;
  --primary-button-bg: #27292E;
  --segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --franklin: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

* {
    font-family: var(--franklin);
    letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

#browse {
    scroll-margin-top: 100px;
}

span {
    color: var(--primary-text);
    font-family: var(--segoe);
}

body {
    background-color: var(--primary-blue);
    margin: 0px;
}

#navbar {
    display: flex;
    position: fixed;
    background-color: var(--secondary-blue);
    align-items: center;
    height: 70px;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding-left: 24px;
    z-index: 2;
}

#logo {
    display: inline-block;
    width: 60px;
    height: 60px;
}

#navbar-left {
    display: flex;
    position: fixed; 
    width: 35%;
    height: auto;
    align-items: center;
    border: 0px;
    margin: 0px;
    margin-left: 2%;
}

#navbar-left a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 18px;
    margin-left: 60px;
    padding: 3px 6px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#navbar-left a:hover {
    color: var(--hovered-text);
}

#navbar-left #active {
    color: var(--active-text);
    text-decoration: underline;
    font-size: 18px;
    margin-left: 60px;
    padding: 3px 6px;
    transition: color 0.3s ease;
}

#navbar-left #active:hover {
    color: var(--active-hovered-text);
}

#navbar-right {
    display: flex;
    position: fixed;
    width: 35%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    margin-left: 57%;
    padding: 0 20px;
}

.img-background{
    display: flex;
    background-color: var(--primary-button-bg);
    padding: 8px 28px;
    margin-left: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.img-background:hover #fren {
    filter: brightness(0) invert(1) opacity(0.5);
}

#fren{
    display: inline-block;
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) opacity(0.4);
    transition: filter 0.3s ease;
}

.noti-background{
    display: flex;
    position: relative;
    background-color: var(--primary-button-bg);
    padding: 22px 42px;
    margin-left: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.noti{
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) opacity(0.4);
    opacity: 0;
    transition: filter 0.3s ease, opacity 0.3s ease-in-out; 
}

.first_image {
    opacity: 1;
}

.noti-background:hover .first_image {
    opacity: 0;
    filter: brightness(0) invert(1) opacity(0.4);
}

.noti-background:hover .second_image {
    opacity: 1;
    filter: brightness(0) invert(1) opacity(0.5);
}

#noti:hover {
    content: url("../Assets/notification_1.png");
}

/* profile */
.user-background{
    display: flex;
    background-color: var(--primary-button-bg);
    padding: 6px 20px;
    margin-left: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.profile-img {
    width: 32px;
    height: 32px;
    border: solid;
    border-color: var(--active-text);
    border-width: 2px;
    border-radius: 2px;
    margin-right: 4px;
    transition: width 0.3s ease, height 0.3s ease, border-color 0.3s ease;
}

.username {
    margin: 7px;
    font-size: 14px;
    font-weight: 500;
    color: #bbbbbb;
    margin-right: 12px;
    transition: color 0.3s ease;
}

.balance {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    color: #bbbbbb;
    transition: color 0.3s ease;
}

.dropdown-icon {
    margin-left: auto;
    padding-left: 10px;
    font-size: 16px;
    color: #bbbbbb;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user-background:hover .profile-img {
    width: 36px;
    height: 36px;
    border-color: var(--active-hovered-text);
}

.user-background:hover .username, .user-background:hover .balance, .user-background:hover .dropdown-icon {
    color: #cccccc;
}
/* profile */

#other-nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* help */
#help{
    margin-left: 20px;
    font-size: 13px;
    color: #bbbbbb;
    text-decoration: none;
    font-family: var(--segoe);
    transition: color 0.3s ease;
    margin-top: 2px;
}

#help:hover {
    color: #cccccc;
}
/* help */

#install {
    margin-left: 20px;
    font-size: 13px;
    color: #bbbbbb;
    background-color: #56780d;
    border-radius: 4px;
    padding: 1px 6px;
    text-decoration: none;
    font-family: var(--segoe);
    transition: color 0.3s ease, background-color 0.3s ease;
}

#install:hover {
    color: #cccccc;
    background-color: #628811;
}

#log-in-body {
    position: relative;
    border: 0px;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 610px;
    width: auto;
    border: 0px;
    margin: 0px;
    padding-top: 120px;
    background-image: url("../Assets/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#log-in-body h2 {
    color: var(--primary-text);
    font-family: var(--franklin);
    font-size: 32px;
    padding-right: 36%;
}

#form-block {
    display: flex;
    width: 40%;
    flex-direction: column;
    position: relative;
    background-color: #181A21;
    padding: 20px;
    border-radius: 4px;
    opacity: 96%;
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    margin: auto;
}

.input-block label {
    font-family: var(--segoe);
    color: var(--primary-text);
    margin-bottom: 2px;
    margin-top: 16px;
}

.input-block input {
    font-family: var(--segoe);
    font-size: 18px;
    padding: 12px 16px;
    background-color: #32353C;
    border: none;
    border-radius: 6px;
    color: #cccccc;
    transition: all 0.3s ease;
}

.input-block input:hover {
    background-color: #42444a;
}

.input-block .checkbox-block {
    margin: 16px 0px;
    width: 36%;
}

.checkbox-block input {
    appearance: none;
    border: 2px solid #cccccc;
    width: 24px;
    height: 24px;
    padding: 0px;
    border-radius: 4px;
    background-color: var(--primary-button-bg);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.checkbox-block input:checked {
    background-color: var(--active-hovered-text);
}

.checkbox-block input:checked::after {
    content: "✓";
    left: 3px;
    top: -2px;
    position: absolute;
}

.checkbox-block label {
    margin: auto;
    font-family: var(--segoe);
    color: #bbbbbb;
    transition: all 0.3s ease;
    cursor: pointer;
}

.checkbox-block:hover input {
    background-color: #3b3e43;
}

.checkbox-block:hover input:checked {
    background-color: var(--active-text);
}

.checkbox-block:hover label {
    color: #cccccc;
}

.input-block button {
    width: 66%;
    height: 50px;
    align-self: center;
    margin-bottom: 20px;
    border: none;
    color: var(--primary-text);
    font-family: var(--franklin);
    font-size: 16px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #07BEFF, #2C75FF);
    transition: all 0.3s ease;
    cursor: pointer;
}

.input-block button:hover {
    color: var(--hovered-text);
}

#footer {
    display: flex;
    position: relative;
    width: auto;
    height: 200px;
    background-color: var(--secondary-blue);
    justify-content: center;
    align-items: center;
}

#footer #footer-logo {
    height: 80%;
    filter: brightness(0) invert(1) opacity(0.5);
}

#footer #copyright-block {
    display: block;
    position: relative;
    height: 70%;
    width: 300px;
    margin: 0px 50px 0px 16px;
}

#copyright-block img {
    width: 50%;
    filter: invert(1) opacity(0.6);
}

#footer p {
    font-family: var(--segoe);
    font-size: 10px;
    color: #bbbbbb;
}

#footer a {
    font-family: var(--segoe);
    font-size: 12px;
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

#footer a:hover {
    color: #cccccc;
}

#footer .links-list {
    height: 60%;
    width: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin: 0px;
}

#footer #socials-list {
    height: 60%;
    width: 140px;
    display: flex;
    position: relative;
    margin: 0px 16px;
}

#socials-list .socials-button {
    height: 20px;
    width: 20px;
    background-color: var(--primary-button-bg);
    padding: 4px;
    margin: 0px 6px 6px;
    cursor: pointer;
}

.socials-button img {
    height: 100%;
    width: 100%;
    filter: brightness(0) invert(1) opacity(0.4);
    transition: filter 0.3s ease;
}

.socials-button:hover img {
    filter: brightness(0) invert(1) opacity(0.6);
}